*
wp-admin/*
wp-includes/*
!app/
!README.md

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
# wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore dependencies
wp-content/themes/escrave/fontawesome

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite