body, body * {
	font-weight:.8rem;
	font-family: helvetica, Tahoma, Geneva, Verdana, sans-serif;
}
body{
	background:#111111;
}
.footer{
    width: 100%;
}
.footer p {

	margin: 10px 0px;
}

a:hover, a:focus{
	text-decoration: none;

}
h2{
		font-size: 2rem;
}

h3{
    font-size: 1.5rem;
	margin-top:26px;
	margin-bottom:13px;

}
h4{
    font-weight:550;
	margin-top: 20px;
	font-size:1.2rem;

}

.container{
	max-width: 480px;
}

/* fake bootstrap if ya can 
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
	max-width: 50%;
	position: relative;
    width: 100%;
    min-height: 1px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*/


.app-background{
	background:url("../images/mayan-ruin-background.jpg");
	padding-left:7px;
	padding-right:7px;
	padding-top:0px;
	min-height:calc(100vh - 50px);
}


.header-logo{
	display:inline-block;
	padding:13px 5px;
	max-height:70px;
}


.logo-and-tagline{
	display: inline-block;
	width: calc(100% - 70px);
	max-height:70px;
}
.logo-and-tagline img{
	display:inline-block;
	max-height:70px;
	padding-bottom:10px;
	padding-top:5px;
}
.tagline{
	color:white;
	font-weight: 800;
  font-size: 2.2rem;
}


.hamburger{
	float: right;
	width: 70px;
}
.logo-and-tagline p{
	color:white;
	font-size:18px;
}



/* Options hamburger and menu */
.hamburger .navbar-toggler{
	background: white;
    width: 70px;
	cursor: pointer;
	margin-top:10px;
}
.hamburger button {
    color: grey;
}
.hamburger button.active {
	color:black;
}



/* app main area */

.main-content{
    display:flex;
    align-items:flex-start;
}

.tab-content{
    width:calc(100% - 75px);
    

}

.tab-pane{
	background: white;
	padding: 15px;

     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius:5px;

}

.tab-pane .btn{
	margin-bottom:20px;
}

/* app main tab menu - Cost, Use, Goals */
.button-bar{
    background: white;
    width:70px;
    margin-left:5px;

     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius:5px;
}
.button-bar .button-group{
    width:100%;
    margin-bottom:13px;
}
.button-group a {
    color: grey;
	width:70px;
    margin-bottom: 0px;
}
.button-group a .icon,
.button-group a .button-text{
    text-align: center;
    margin-bottom:0px;
}
.button-group a.active {
	color:black;
}

.nav-tabs{
	margin: 7px 0px 0px 0px;
}





/* BASELINE QUESTIONNAIRE */
   /* 
    .baseline-questionnaire .follow-up-questions{
		display:none;
	}
	*/
	.baseline-questionnaire div.question{
		margin: 30px 0px;
	}
	.baseline-questionnaire div.question > label{
		font-weight:550;
	}
	
	


/* REPORTS */

    .weekly-report-template .week-range{
		display:flex;
		align-items:center;
		justify-content:space-between;
		margin-top:25px;
		margin-bottom:25px;
	}
	
	.weekly-report-template .week-range button,
	.weekly-report-template .week-range .current-week{
		display:flex;
	}
	.weekly-report-template .week-range .current-week > div{
		display:inline-block
	}
	
	
	.report-statistics .statistic{
		margin-top:15px;
		margin-bottom:15px;
	}
	
	.report-statistics .statistic label,
	.report-statistics .statistic .percent-changed{
		float:right;
	}
	
	.report-statistics .statistic label{
		color: #D6D6D6;
		padding-right:15px;
	
	}
	.report-statistics .statistic .percent-changed{
		
		clear:right;
	}
	.weekly-report-template .statistic .percent-changed.down{
		color: #28a745;
	}
	.weekly-report-template .statistic .percent-changed.up{
		color: #dc3545;
	}
	



/* STATISTICS */
.statistic-recepticle,
.timer-recepticle{
	text-align:left;
	margin-bottom:20px;
	
}

.statistic-recepticle span{

	font-weight:600;
	font-size:1.4rem;
}

.statistic-recepticle p,
.timer-recepticle p{
	text-align: right;
    width: 35%;
    float: left;
    clear: left;
	margin: 0 auto;
	padding-bottom: 3px;
	margin-bottom: 13px;
    padding-right:5px;
    margin-right:5px;
    border-right: 1px solid grey;
	color: #828282;

}  

.clickCounter{
	background:red;
	color:white;
	border-radius:15px;
	position:absolute;
	
	padding: 0px 6px;
}

/* log more info div */
.log-more-info-div {
    border: 1px solid black;
	padding:15px 7px 7px 7px;
    background-color: white;
    z-index: 100;
    border-radius: 5px;
	position: relative;
	left:0;
    width: 437px;
	width: 100%;
}


	.cost.log-more-info-div div{
		margin: 0px auto;
		display: block;
		max-width: 220px;
	}
	.cost.log-more-info-div h3{
		display: inline-block;
		padding-right:20px;
	}
	.cost.log-more-info-div input{
		color:grey;
		max-width: 75px;
		text-align: center;
		-moz-appearance:textfield;
	}

	/*No more spinny shit on the number inputs */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    /*DOUBLE NO MORE SPINNY SHIT hide spinners on number inputs*/
        input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        
        input[type="number"] {
            -moz-appearance: textfield;
        }


	.cost.log-more-info-div label{
		margin: 15px auto;
		display: inline-block;
		font-weight: 700;
		color: green;
		font-size: 24px;
		
	}
	
	
	.goal.log-more-info-div #goalEndPicker{
		display:table;
		margin:20px auto;
	}

	.goal.log-more-info-div .time-picker-container{
		text-align: center;
	}

	select.time-picker-hour,
	select.time-picker-minute,
	select.time-picker-am-pm,
	.time-picker-container span.label{
		font-size:2.4rem;
	}





#greyed-out-div{
	width:100%;
	height:0px;
	position:absolute;
	background-color:black;
	z-index:0;
	opacity:0;
}



/*TIMER STYLES */
	.timer-recepticle{
		padding: 0px 5px;

	}

	.fibonacci-timer{
		display:inline-block;
		background-image: url("../images/mayan-ruin-background-timers.jpg");
		padding:3px;
		overflow:hidden;
		max-width: 100%;
	}
	.fibonacci-timer .boxes {
	  width: 9rem;
	  height: 9rem;
	}
	
	.fibonacci-timer .timerSpan {
	  display: inherit;
	  font-size: 18px;

	}
	
	.fibonacci-timer .daysSinceLastClickSpan{
	  font-size: 52px;
	}
	.fibonacci-timer .hoursSinceLastClickSpan{
	  font-size: 36px;
	}
	
	.fibonacci-timer .boxes div{
		position:relative;
		background-color:white;
		margin:3px;
		border-radius:3px;
	}

	/*timer number values */
	.fibonacci-timer .boxes div span:first-child{
		font-weight: 700;
		text-align: center;
	}

	/*timer labels */
	.fibonacci-timer .boxes div span:nth-child(2){
		color:#919191;
		display:inherit;
		text-align:center;
		position: relative;
		bottom: 7px;
	}
	
	
	.fibonacci-timer .boxes div:first-child {
		height: 100%;
	  }
	  
	.fibonacci-timer .boxes div:nth-child(2) {
		
		width: calc(66.6% - 6px);
		height: calc(66.6% - 6px);
		float: left;
	 }
	  
	.fibonacci-timer .boxes div:nth-child(3) {
		
		width: calc(33.3% - 6px);
		height: calc(33.3% - 6px);
		float: left;
		clear: right;
	 }
	  
	.fibonacci-timer .boxes div:last-child {
		
		width: calc(33.3% - 6px);
		height: calc(33.3% - 6px);
		float: left;
	 }


/* TEMPLATE STYLES */
/* Notifications styles */

.notification {
	position: relative;
	background:url(../images/mayan-notification-background.jpg); 
	background-size: cover;
	border: 1px solid #d6d6d6; 
	border-radius: 4px; 
	padding:5px 12px;
	margin-bottom:3px;
	transition:all 0.3s ease-in-out;
}
.notification.rotate-left{
	-webkit-transform: rotateZ(-7deg);
	-ms-transform: rotateZ(-7deg);
	transform: rotateZ(-7deg);
}
.notification.rotate-right{
	-webkit-transform: rotateZ(3deg);
	-ms-transform: rotateZ(3deg);
	transform: rotateZ(3deg);
}

.notification-message{
	display: flex;
    align-items: center;
    padding-top: 10px;
}
.notification p{
	margin-bottom:0px;
	font-style:italic;
	color:#111111;
}
.notification-text{
	display: inline-block;
	max-width:calc(100% - 20px);
}
.notification-close{
	width:20px;
	padding-left:5px;
    float: right;
    font-size: 1.4rem;
	font-weight: 700;
	color:black;
}
.notification-response-tools{
	padding-top:15px;
	text-align:center;
	
}
.notification-response-tools button{
	padding:0px 15px;
	margin: 0px 5px 10px 5px;
}

/* GOAL LOG */

#habit-log .item .title{
	margin-top: 13px;
    font-size: 1.2rem;
}
#habit-log .item .date{
	color:#d6d6d6;
}
#habit-log .item p{
	margin-bottom:0px;
}
#habit-log .item hr{
	margin-top:5px;
}
#habit-log .item i{
	color:grey;
}

/* show more buttons */

#habit-log-show-more button.btn,
#habit-log-show-more p{
	margin-bottom: 0px;
}