body, body * {
	font-weight:.8rem;
	font-family: helvetica, Tahoma, Geneva, Verdana, sans-serif;
}
body{
	background:#111111;
}
.footer{
    width: 100%;
}
.footer p {

	margin: 10px 0px;
}

a:hover, a:focus{
	text-decoration: none;

}

h3{
	margin-bottom: 13px;

}
h4{
	margin-top: 13px;
	font-size:1.2rem;

}

.container{
	max-width: 480px;
}



.app-background{
	background:url("../images/mayan-ruin-background.jpg");
	padding-left:7px;
	padding-right:7px;
	padding-top:0px;
	min-height:100vh;
}

.header-logo{
	display:inline-block;
	padding:13px 5px;
	max-height:70px;
}

.logo-and-tagline{
	display: inline-block;
	width: calc(100% - 90px);
}
.hamburger{
	float: left;
	width: 90px;
}
.logo-and-tagline p{
	color:white;
	font-size:18px;
}



/* Options hamburger and menu */
.hamburger .navbar-toggler{
	background: white;
	cursor: pointer;
	margin-top:5px;
}
#options-navbar{
	position: absolute;
	top: 65px;
	padding-top: 0px;
	z-index: 1000;

}
#options-navbar .container{
	background: white;
	max-width: 245px;
	

}
#options-collapse-menu{
	padding:7px;
	padding-top:.5rem;
}
#options-collapse-menu {
	margin-top:0px;
}




/* app main tab menu - Cost, Use, Goals */
.nav-tabs a {
	background: black;
	width:33.3%;
	text-align: center;
	padding: 10px;
	border-top-right-radius: 13px;
	border-top-left-radius: 13px;
	color:#efefef;
}
.nav-tabs a.active {
	background: white;
	color:black;
}

.nav-tabs{
	margin: 17px 0px 0px 0px;
}

.tab-pane{
	background: white;
	padding: 14px 7px;

}


.tab-pane .btn{
	margin-bottom:20px;
}

.statistics-recepticle,
.timer-recepticle{
	text-align:center;
	margin-bottom:20px;
	
}

.statistics-recepticle span{

	font-weight:700;
	font-size:1.8rem;
}

.statistics-recepticle p,
.timer-recepticle p{
	text-align: center;
	display:block;
	margin: 0 auto;
	padding-bottom: 3px;
	margin-bottom: 13px;
	color: #828282;

}

.table{
	margin-top:0px;
	margin-bottom:0px;
}

.table th{
	text-align:right;
	font-weight: 500;
    vertical-align: middle;
}
.table thead td{
	font-weight:700;
}

.table td, .table th {
	border-top:none;
	padding: .25rem;
}
  

.clickCounter{
	background:red;
	color:white;
	border-radius:15px;
	position:absolute;
	padding: 0px 6px;
}

/* log more info div */
.log-more-info-div {
    border: 1px solid black;
	padding:15px 7px 7px 7px;
    background-color: white;
    z-index: 100;
    border-radius: 5px;
	position: relative;
	left:0;
	bottom:20px;
    width: 437px;
	width: 100%;
}
	#cost-content .log-more-info-div div{
		margin: 0px auto;
		display: block;
		max-width: 220px;
	}
	#cost-content .log-more-info-div h3{
		display: inline-block;
		padding-right:20px;
	}
	#cost-content .log-more-info-div input{
		color:grey;
		max-width: 75px;
		text-align: center;
		-moz-appearance:textfield;
	}
		/*No more spinny shit on the number inputs */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	#cost-content .log-more-info-div label{
		margin: 15px auto;
		display: inline-block;
		font-weight: 700;
		color: green;
		font-size: 24px;
		
	}
	
	
	#goal-content #goalEndPicker{
		display:table;
		margin:20px auto;
	}

	#goal-content .time-picker-container{
		text-align: center;
	}


#avgDidntPerDid,
#cravingsResistedInARow,
#averageTimeBetweenUses{
	font-weight:700;
	
}




#greyed-out-div{
	width:100%;
	height:0px;
	position:absolute;
	background-color:black;
	z-index:0;
	opacity:0;
}



/*TIMER STYLES */
	.timer-recepticle{
		padding: 0px 5px;

	}

	.fibonacci-timer{
		display:inline-block;
		background-image: url("../images/mayan-ruin-background-timers.jpg");
		padding:3px;
		overflow:hidden;
		max-width: 100%;
	}
	.fibonacci-timer .boxes {
	  width: 9rem;
	  height: 9rem;
	}
	
	.fibonacci-timer .timerSpan {
	  display: inherit;
	  font-size: 18px;

	}
	
	.fibonacci-timer .daysSinceLastClickSpan{
	  font-size: 52px;
	}
	.fibonacci-timer .hoursSinceLastClickSpan{
	  font-size: 36px;
	}
	
	.fibonacci-timer .boxes div{
		position:relative;
		background-color:white;
		margin:3px;
		border-radius:3px;
	}

	/*timer number values */
	.fibonacci-timer .boxes div span:first-child{
		font-weight: 700;
		text-align: center;
	}

	/*timer labels */
	.fibonacci-timer .boxes div span:nth-child(2){
		color:#919191;
		display:inherit;
		text-align:center;
		position: relative;
		bottom: 7px;
	}
	
	
	.fibonacci-timer .boxes div:first-child {
		height: 100%;
	  }
	  
	.fibonacci-timer .boxes div:nth-child(2) {
		
		width: calc(66.6% - 6px);
		height: calc(66.6% - 6px);
		float: left;
	 }
	  
	.fibonacci-timer .boxes div:nth-child(3) {
		
		width: calc(33.3% - 6px);
		height: calc(33.3% - 6px);
		float: left;
		clear: right;
	 }
	  
	.fibonacci-timer .boxes div:last-child {
		
		width: calc(33.3% - 6px);
		height: calc(33.3% - 6px);
		float: left;
	 }





/* TEMPLATE STYLES */
/* Notifications styles */

.notification {
	position: relative;

	background:#efefef; 
	border: 1px solid #d6d6d6; 
	border-radius: 4px; 
	padding:5px 12px;
	margin-bottom:3px;
}
.notification-message{
	display: flex;
    align-items: center;
}
.notification p{
	margin-bottom:0px;
	font-style:italic;
	color:#111111;
}
.notification-text{
	display: inline-block;
	max-width:calc(100% - 20px);
}
.notification-close{
	width:20px;
	padding-left:5px;
    float: right;
    font-size: 1.4rem;
	font-weight: 700;
	color:black;
}
.notification-response-tools{
	padding-top:15px;
	text-align:center;
	
}
.notification-response-tools button{
	padding:0px 15px;
	margin: 0px 5px 10px 5px;
}

/* GOAL LOG */

#goal-log .item .title{
	margin-top: 13px;
    font-size: 1.2rem;
}
#goal-log .item .goal-date{
	color:#d6d6d6;
}
#goal-log .item p {
	margin-bottom:0px;
}
#goal-log .item hr{
	margin-top:5px;
}

/* show more goals button */

#goal-log-show-more button.btn,
#goal-log-show-more p{
	margin-bottom: 0px;
}