body, body * {
	font-weight: 400;
	font-family: helvetica, Tahoma, Geneva, Verdana, sans-serif;
}
body {
	background: #111111;
}
.footer {
    width: 100%;
}
.footer p {

	margin: 10px 0px;
}

a:hover, a:focus {
	text-decoration: none;

}
h2 {
		font-size: 2rem;
        text-align: center;
}

h3 {
    font-size: 1.5rem;
	margin-top: 26px;
	margin-bottom: 13px;

}
h4 {
    font-weight: 550;
	margin-top: 20px;
	font-size: 1.2rem;

}

.container {
	max-width: 480px;
}

/* fake bootstrap if ya can 
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
	max-width: 50%;
	position: relative;
    width: 100%;
    min-height: 1px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*/


.app-background {
	background: url("images/mayan-ruin-background.jpg");
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 0px;
	min-height: calc(100vh - 50px);
}


.header-logo {
	display: inline-block;
	padding: 13px 5px;
	max-height: 85px;
}


.logo-and-tagline {
	display: inline-block;
	max-height: 85px;
}
.logo-and-tagline img {
	display: inline-block;
	max-height: 75px;
	padding-top: 5px;
}
.tagline {
	color: white;
	font-weight: 800;
  font-size: 2.2rem;
}

.logo-and-tagline p {
	color: white;
	font-size: 18px;
}

/* Options hamburger and menu */

.hamburger {
	float: right;
	width: 70px;
}

.hamburger .navbar-toggler {
	background: white;
	cursor: pointer;
	margin-top: 5px;
    width: 70px;
    height: 50px;
}
.navbar {
    padding: 0px;
    padding-top: 5px;
}
#options-navbar {
    width: 100%;
	z-index: 1000;
	padding: 5px 0px; 
    border-radius: 5px;
}
#options-navbar .container {
	background: white;

}
#options-collapse-menu {
	padding: 7px;
	padding-top: .5rem;
}
#options-collapse-menu {
	margin-top: 0px;
}
#options-collapse-menu a {
    text-align: center;
    display: inherit;
    color: grey;
}
#options-collapse-menu a.active {
    color: black;
}


/* app main area */

.main-content {
    display: flex;
    align-items: flex-start;
    min-height: 85vh;
}

.tab-content {
    width: calc(100% - 75px);
    
}

.tab-pane {
	background: white;
	padding: 15px 7px;

     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

}

.tab-pane .btn {
	margin-bottom: 20px;
}

/* tabs up top for page redirection */
.navbar-header {
    display: inline-flex;
    max-height: 85px;
    padding-top: 5px;
}
.navbar-header .button-group {
    display: inline-block;
    min-width: 65px;
    padding-top: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.navbar-header .button-group .button-text {
    font-size: .8rem;
}

.navbar-header .button-group a {
    color: grey;
}
.navbar-header .button-group a.active {
    color: white;
}


/* app main tab menu - Cost, Use, Goals */
.button-bar {
    background: white;
    width: 70px;
    margin-left: 5px;

     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.button-bar .button-group {
    width: 100%;
    margin-bottom: 13px;
}
.button-group a {
    color: grey;
	width: 70px;
    margin-bottom: 0px;
}
.button-group a .icon,
.button-group a .button-text {
    text-align: center;
    margin-bottom: 0px;
}
.button-group a.active {
	color: black;
}

.nav-tabs {
	margin: 7px 0px 0px 0px;
}





/* BASELINE QUESTIONNAIRE */
   /* 
    .baseline-questionnaire .follow-up-questions {
		display: none;
	}
	*/
	.baseline-questionnaire div.question {
		margin: 40px 0px;
	}
	.baseline-questionnaire div.question > label {
		font-weight: 550;
	}
  
	.baseline-questionnaire .form-message .success,
    .baseline-questionnaire .form-message .failure {
        color: white;
        border-radius: 5px;
        margin: 10px;
        padding: 5px;
        
    }
    .baseline-questionnaire .form-message .success {
        background: #218838;
        
    }
    .baseline-questionnaire .form-message .failure {
        background: #c82333;
        
    }

/* REPORTS */



    .weekly-report-template .week-range {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		margin-top: 25px;
		margin-bottom: 25px;
	}
    .weekly-report-template .week-range .btn {
		margin-bottom: 0px;
	}
	
	.weekly-report-template .week-range button,
	.weekly-report-template .week-range .current-week {
		display: flex;
	}
	.weekly-report-template .week-range .current-week > div {
		display: inline-block;
	}

    .weekly-report-template span.ct-label.ct-horizontal.ct-end {
        transform: rotate(60deg);
        padding-left: 10px;
    }

    /* BAR CHART */

        .bar-chart .legend {
            display: flex;
            justify-content: center;
        }

        .bar-chart .legend .color-descriptor {
            padding: 0px 10px;
        }

        .bar-chart .legend .color-descriptor label {
            display: inline-block;
            margin-bottom: 0px;
        }

        .bar-chart .legend .color {
            height: 15px;
            width: 15px;
            display: inline-block;
            
        }
        .bar-chart .legend .color.primary {
            background: #d70206;

        }
        .bar-chart .legend .color.secondary {
            background: #f05b4f;
        }


    /* bottom statistics */
        .report-statistics {
            display: inline-block;
            width: 100%;
            padding-right: 25px;
        }
        
        .report-statistics .statistic {
            margin-top: 15px;
            margin-bottom: 15px;
        }
        
        .report-statistics .statistic label,
        .report-statistics .statistic .percent-changed {
            float: right;
        }
        
        .report-statistics .statistic label {
            color: grey;
            padding-right: 15px;
        
        }
        .report-statistics .statistic .percent-changed {
            
            clear: right;
        }
        .weekly-report-template .statistic .percent-changed.down {
            color: #28a745;
        }
        .weekly-report-template .statistic .percent-changed.up {
            color: #dc3545;
        }
        
        .weekly-report-template .goal-report {
            margin-top: 20px;
            clear: both;
        }
        .weekly-report-template .goal-report .row {
            padding: 20px 0px;
        }
        .weekly-report-template .goal-report .amount-changed {
            font-weight: 600;
        } 
        .weekly-report-template .goal-report .amount-changed.down {
            color: #28a745;
        }
        .weekly-report-template .goal-report .amount-changed.up {
            color: #dc3545;
        }

    /* goal report table */
        .goal-report table {
            padding-top: 20px;
        }

        .goal-report th {
            color: grey;
            font-weight: 500;
        }
        .goal-report thead th,
        .goal-report td {
            text-align: center;
        }


/* STATISTICS */
.statistic-recepticle,
.timer-recepticle {
	text-align: left;
	margin-bottom: 20px;
    align-items: center;
}

.statistic-recepticle span {
    display: inline-block;
	font-weight: 600;
	font-size: 1.4rem;
}

.statistic-recepticle p,
.timer-recepticle p {
	margin: 0 auto;
    padding-right: 5px;
    margin-right: 5px;
	color: #828282;
}  

.clickCounter {
	background: red;
	color: white;
	border-radius: 15px;
	position: absolute;
	padding: 0px 6px;
    margin-left: 3px;
}

/* log more info div */
.log-more-info {
    border: 1px solid black;
	padding: 15px 7px 7px 7px;
    background-color: white;
    z-index: 100;
    border-radius: 5px;
	position: relative;
	left: 0;
    width: 437px;
	width: 100%;
	display: none;
}


	.cost.log-more-info div.input-area {
		margin: 0px auto;
		display: block;
		max-width: 220px;
        padding-bottom: 20px;
	}
	.cost.log-more-info h3 {
		display: inline-block;
		padding-left: 20px;
	}
	.cost.log-more-info input {
		color: grey;
		max-width: 75px;
		text-align: center;
		-moz-appearance: textfield;
	}

	/*No more spinny shit on the number inputs */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    /*DOUBLE NO MORE SPINNY SHIT hide spinners on number inputs*/
        input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        
        input[type="number"] {
            -moz-appearance: textfield;
        }


	.cost.log-more-info label {
		margin: 15px auto;
		display: inline-block;
		font-weight: 700;
		color: green;
		font-size: 24px;
		
	}
	
	
	.goal.log-more-info #goalEndPicker {
		display: table;
		margin: 20px auto;
	}

	.goal.log-more-info .time-picker-container {
		text-align: center;
	}

	select.time-picker-hour,
	select.time-picker-minute,
	select.time-picker-am-pm,
	.time-picker-container span.label {
		font-size: 2.4rem;
	}

    .use.log-more-info .time-picker-container .form-check-input {
        margin-left: 0;
        padding-left: 10px;
        transform: scale(1.4);
    }
    
    .use.log-more-info .time-picker-container .time-picker-now,
    .use.log-more-info .time-picker-container .time-picker-before {
        padding-left: 10px;
        font-size: 2.6rem;
        display: flex;
        align-items: center;
    }

    .use.log-more-info .time-picker-container .time-picker-now label,
    .use.log-more-info .time-picker-container .time-picker-before label {
        padding-left: 30px;
    }


#greyed-out-div {
	width: 100%;
	position: fixed;
	background-color: black;
	z-index: 0;
	opacity: 0;
}



/*TIMER STYLES */

	.fibonacci-timer {
		display: inline-block;
		background-image: url("images/mayan-ruin-background-timers.jpg");
		padding: 3px;
		overflow: hidden;
		max-width: 100%;
	}
	.fibonacci-timer .boxes {
	  width: 9rem;
	  height: 9rem;
	}
	
	.fibonacci-timer .timerSpan {
	  display: inherit;
	  font-size: 18px;

	}
	
	.fibonacci-timer .daysSinceLastClick {
	  font-size: 52px;
	}
	.fibonacci-timer .hoursSinceLastClick {
	  font-size: 36px;
	}
	
	.fibonacci-timer .boxes div {
		position: relative;
		background-color: white;
		margin: 3px;
		border-radius: 3px;
	}

	/*timer number values */
	.fibonacci-timer .boxes div span:first-child {
		font-weight: 700;
		text-align: center;
	}

	/*timer labels */
	.fibonacci-timer .boxes div span:nth-child(2) {
		color: #919191;
		display: inherit;
		text-align: center;
		position: relative;
		bottom: 7px;
	}
	
	
	.fibonacci-timer .boxes div:first-child {
		height: 100%;
	  }
	  
	.fibonacci-timer .boxes div:nth-child(2) {
		
		width: calc(66.6% - 6px);
		height: calc(66.6% - 6px);
		float: left;
	 }
	  
	.fibonacci-timer .boxes div:nth-child(3) {
		
		width: calc(33.3% - 6px);
		height: calc(33.3% - 6px);
		float: left;
		clear: right;
	 }
	  
	.fibonacci-timer .boxes div:last-child {
		
		width: calc(33.3% - 6px);
		height: calc(33.3% - 6px);
		float: left;
	 }


/* TEMPLATE STYLES */
/* Notifications styles */

.notification {
	position: relative;
	background: white;
	background: url("images/mayan-notification-background.jpg"); 
	background-size: cover;
	border: 1px solid #d6d6d6; 
	border-radius: 4px; 
	padding: 5px 12px;
	margin-bottom: 3px;
	transition: all 0.3s ease-in-out;
}
.notification.rotate-left {
	-webkit-transform: rotateZ(-7deg);
	-ms-transform: rotateZ(-7deg);
	transform: rotateZ(-7deg);
}
.notification.rotate-right {
	-webkit-transform: rotateZ(3deg);
	-ms-transform: rotateZ(3deg);
	transform: rotateZ(3deg);
}

.notification-message {
	display: flex;
    align-items: center;
    padding-top: 10px;
}
.notification p {
	margin-bottom: 0px;
	font-style: italic;
	color: #111111;
}
.notification-text {
	display: inline-block;
	max-width: calc(100% - 20px);
}
.notification-close {
	width: 20px;
	padding-left: 5px;
    float: right;
    font-size: 1.4rem;
	font-weight: 700;
	color: black;
}
.notification-response-tools {
	padding-top: 15px;
	text-align: center;
	
}
.notification-response-tools button {
	padding: 0px 15px;
	margin: 0px 5px 10px 5px;
}

/* GOAL LOG */

#habit-log .item .title {
	margin-top: 13px;
    font-size: 1.2rem;
}
#habit-log .item .date {
	color: #d6d6d6;
}
#habit-log .item p {
	margin-bottom: 0px;
}
#habit-log .item hr {
	margin-top: 5px;
}
#habit-log .item i {
	color: grey;
}

/* show more buttons */

#habit-log-show-more button.btn,
#habit-log-show-more p {
	margin-bottom: 0px;
}


